{% extends "xmlbeautifyapp/base.html" %}


{% block title %}
    <title>About-XMLBeautifier</title>
{% endblock %}

{% block body_block %}
<br/>
<br/>
<div align="center">
<h6> The XMLBeautifier</h6>
<p>  The XMLBeautifier helps to beautify your unformatted ugly xml code. the application is powered by Django and python.</p>
<p>Just put your code into text box and click on beautify button, XMLBeautifier will produce formatted code. however, the applicaton</p>
<p>contains server side interactions, so please do not submit sensitive information. note- the XMLBeautifier backend code</p>
<p>is developed by the developer and do not uses any third party libraries.</p>
<div>
<br/>
<br/>
</div align="center">
<h6> The Developer</h6>
<p>The XMLBeautifier is developed by Chetan Pawar, a full stack software developer and graduated in Information Technology.</p>
<p>Email Id: chetanpawar19@outlook.com</p>
</div>

{% endblock %}
